# SQL Part 1 (sqlite3)

You __must__ run the cells in order. It looks like you can come back later after restarting and pick up where you left off but that is not the case. When restarting you always have to start at the top of the notebook and run each cell in turn.

In [2]:
# fill in the information below
Author = 'rashnil'
Collaborators = ['rashnil']

In [3]:
# checker setup do NOT change this
import comp521
check, report = comp521.start('A1')

In [5]:
# setup, no need to change this
from Dee import *
from DeeDatabase import Database
from CourseEnrollmentDee import DeeDB
import sqlite3

# I'll open a DB in memory
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

## Question 1
Use SQL to create tables for the following database schema modeling a library.

STUDENT __sid__(INTEGER) sname(TEXT)  
BOOK __bid__(INTEGER) bname(TEXT) author(TEXT)  
BORROWS __id__(INTEGER) sid(INTEGER) bid(INTEGER) date(TEXT)  

All primary keys are bold. In the BORROWS table, __bid__ is a foreign key referencing BOOK and __sid__ is a foreign key referencing STUDENT.

__Make sure__ you use the *exact* names and data types for the tables and attributes in order to pass the automatic test.

In [10]:
# I'll clean up for you so you don't get tripped up by trying more than once. Leave this alone
cursor.execute('DROP TABLE IF EXISTS "STUDENT"')
cursor.execute('DROP TABLE IF EXISTS "BOOK"')
cursor.execute('DROP TABLE IF EXISTS "BORROWS"')

# insert your code to create the table here using cursor to create the tables.

cursor.execute("""CREATE TABLE STUDENT(sid integer primary key,sname text)""")
cursor.execute("""CREATE TABLE BOOK(bid integer primary key,bname text,author text)""")
cursor.execute("""CREATE TABLE BORROWS(id integer primary key,sid integer,bid integer,date text,foreign key (bid) references BOOK,foreign key (sid) references STUDENT)""")


# leave this testing code alone
c1 = cursor.execute("SELECT name from sqlite_master WHERE type='table' order by name asc").fetchall()
check('Q1a', c1, points=10)

Q1a appears correct

## Question 2
Insert the following data into the tables you created above.

<table>
<caption>STUDENT</caption>
<tr><th>sid</th><th>sname</th></tr>
<tr><td>1</td><td>Alice</td></tr>
<tr><td>2</td><td>Bob</td></tr>
<tr><td>3</td><td>Cindy</td></tr>
</table>

<table>
<caption>BOOK</caption>
<tr><th>bid</th><th>bname</th><th>author</th></tr>
<tr><td>1</td><td>Database Management Systems</td><td>Ramakrishnan</td></tr>
<tr><td>2</td><td>Lord of the Rings</td><td>Tolkien</td></tr>
</table>

<table>
<caption>BORROWS</caption>
<tr><th>id</th><th>sid</th><th>bid</th><th>date</th></tr>
<tr><td>1</td><td>2</td><td>1</td><td>8/3/2017</td></tr>
<tr><td>2</td><td>3</td><td>2</td><td>9/1/2017</td></tr>
</table>

In [11]:
# write your code here

students = [(1, "Alice"),
         (2, "Bob"),
         (3, "Cindy")]
for student in students:
    cursor.execute("insert into STUDENT values (?, ?)", student)


books = [(1, "Database Management Systems","Ramakrishnan"),
         (2, "Lord of the Rings","Tolkien")]
for book in books:
    cursor.execute("insert into BOOK values (?, ?, ?)", book)  
    
borrows = [(1, 2, 1, "8/3/2017"),
         (2, 3, 2, "9/1/2017")]
for borrow in borrows:
    cursor.execute("insert into BORROWS values (?, ?, ?, ?)", borrow)  
    

# testing code
c2a = cursor.execute('select * from STUDENT').fetchall()
check('Q2a', c2a, points=5)
c2b = cursor.execute('select * from BOOK').fetchall()
check('Q2b', c2b, points=5)
c2c = cursor.execute('select * from BORROWS').fetchall()
check('Q2c', c2c, points=5)

Q2a appears correct
Q2b appears correct
Q2c appears correct

## Question 3
Delete the record with id equal 1 from the BORROWS table.

In [12]:
# write your code here

cursor.execute("delete from BORROWS where id=1")

# don't touch this
c3 = cursor.execute('''select * from BORROWS''').fetchall()
check('Q3', c3, points=10)

Q3 appears correct

## Setup for questions 4-11
Consider the following schema for a database modeling courses at UNC.
```
    DEPARTMENT (did, name)  
    COURSE (cid, did, name, num, creditHours)  
    STUDENT (sid, fname, lname, did)  
    ENROLLED_IN (eid, sid, cid)  
```
    
In the COURSE table, did is a foreign key referencing DEPARTMENT(did). In the ENROLLED_IN
table, sid is a foreign key referencing STUDENT(sid), and cid is a foreign key referencing
COURSE(cid). In STUDENT, did is a foreign key referencing DEPARTMENT(did).

### Questions 4-7

Use [Dee](http://www.quicksort.co.uk/DeeDoc.html) to write relational algebra queries for the following. In particular, you may find the
following Dee operators most useful: Projection, Restriction (corresponds to select in
relational algebra), Join, Intersection, Difference, Union.

Your, already populated, Dee database is named DeeDB.

## Question 4
Find the names of all courses below the 500 level. You can get the Dee relation for COURSE with `DeeDB.COURSE`.

In [20]:
# write code here used DeeDB and Dee methods.
c4 = DeeDB.COURSE.where(lambda t: t.num < 500).project(['name'])


# checking code
check('Q4', c4, points=5)

Q4 appears correct

## Question 5
Find the first and last names of all students enrolled in "Files and Databases".

In [67]:
#print ((DeeDB.COURSE.where(lambda t: t.name== 'Files and Databases') & DeeDB.STUDENT.where(lambda t: t.did== 1)).project(['fname','lname']))

# Assign your result to c5
c5 = (DeeDB.STUDENT & (DeeDB.COURSE.where(lambda t: t.name== 'Files and Databases') 
                         & DeeDB.ENROLLED_IN.where(lambda t: t.cid== 3)).project(['sid'])).project(['fname','lname'])

# checking
check('Q5', c5, points=5)

Q5 appears correct

## Question 6
Find the first and last names of all students in the ANTH department.

In [71]:
# assign to c6
c6 = (DeeDB.STUDENT & DeeDB.DEPARTMENT.where(lambda t: t.name== 'ANTH')).project(['fname','lname'])

# checking
check('Q6', c6, points=5)

Q6 appears correct

## Question 7
List the first and last names of all students enrolled in no courses.

In [77]:
# assign to c7
c7 = (SEMIMINUS(DeeDB.STUDENT.project(['fname','lname']),
                 (DeeDB.STUDENT & (DeeDB.ENROLLED_IN).project(['sid'])).project(['fname','lname'])))

# checking
check('Q7', c7, points=5)

Q7 appears correct

### Questions 8-11

Now use the sqlite3 database `courseEnrollment.db`, which has the same schema as above to write SQL queries for the following. I will open it for you below. __You must execute this next cell before the others!__

In [123]:
econn = sqlite3.connect('CourseEnrollment.db')
ecursor = econn.cursor()

#ecursor.execute("""select * from sqlite_master """)
#for row in ecursor:
 #   print(row)
    
ecursor.execute("""select fname,lname from STUDENT S,ENROLLED_IN E, COURSE C
                      where (C.name = 'Data Structures' or C.name='Anthropology of the Body and the Subject') 
                      and C.cid=E.cid and E.sid=S.sid group by S.sid having count(S.sid)=2""")
for row in ecursor:
    print(row)
# use ecursor to refer to this database below.

('MARY', 'Smith')
('JAMES', 'Williams')

## Question 8
Find the names of all 4 credit hour courses.

In [94]:
# your code here
c8 = ecursor.execute("""select name from COURSE where creditHours=4""").fetchall() 

check('Q8', c8, points=10, sort=True)

Q8 appears correct

## Question 9
Find the first and last names of all students enrolled in COMP courses.

In [109]:
# your code here
c9 = ecursor.execute("""select distinct fname,lname from STUDENT S,ENROLLED_IN E, DEPARTMENT D ,COURSE C
                      where D.name ='COMP' and D.did=C.did and C.cid=E.cid and E.sid=S.sid """).fetchall() 

check('Q9', c9, points=10, sort=True)

Q9 appears correct

## Question 10
Find the first and last names of all students enrolled in courses of at least 500 level.

In [110]:
# your code here
c10 = ecursor.execute("""select distinct fname,lname from STUDENT S,ENROLLED_IN E,COURSE C
                      where C.num >=500 and C.cid=E.cid and E.sid=S.sid """).fetchall() 


check('Q10', c10, points=10, sort=True)

Q10 appears correct

## Question 11
Find the first and last names of all students enrolled in 'Data Structures' and "Anthropology of the Body and the Subject'.

In [125]:
# your code here
c11 = ecursor.execute("""select distinct fname,lname from STUDENT S,ENROLLED_IN E, COURSE C
                      where (C.name = 'Data Structures' or C.name='Anthropology of the Body and the Subject') 
                      and C.cid=E.cid and E.sid=S.sid group by S.sid having count(S.sid)>1""").fetchall() 


check('Q11', c11, points=15, sort=True)

Q11 appears correct